<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="validatorFactory"
          class="javax.validation.Validation"
          factory-method="buildDefaultValidatorFactory"/>

    <bean id="validator"
          factory-bean="validatorFactory"
          factory-method="getValidator"/>

    <bean id="utilStorages" class="org.example.company.util.UtilStorages">
        <constructor-arg ref="employeeService"/>
        <constructor-arg ref="positionService"/>
        <constructor-arg ref="salaryService"/>
    </bean>

    <bean id="employeeStorage" class="org.example.company.storage.EmployeeStorage"/>
    <bean id="positionStorage" class="org.example.company.storage.PositionStorage"/>
    <bean id="salaryStorage" class="org.example.company.storage.SalaryStorage"/>

    <bean id="myValidator" class="org.example.company.validator.MyValidator">
        <constructor-arg ref="validator"/>
    </bean>

    <bean id="employeeService" class="org.example.company.services.EmployeeService">
        <constructor-arg ref="myValidator"/>
        <constructor-arg ref="employeeStorage"/>
    </bean>

    <bean id="positionService" class="org.example.company.services.PositionService">
        <constructor-arg ref="myValidator"/>
        <constructor-arg ref="positionStorage"/>
    </bean>

    <bean id="salaryService" class="org.example.company.services.SalaryService">
        <constructor-arg ref="myValidator"/>
        <constructor-arg ref="salaryStorage"/>
        <property name="inflationPerYearAsPercentage" value="${salary.inflationPerYear}"/>
    </bean>

    <bean id="company" class="org.example.company.Company">
        <constructor-arg ref="employeeService"/>
        <constructor-arg ref="positionService"/>
        <constructor-arg ref="salaryService"/>
    </bean>

    <context:property-placeholder location="classpath:application.properties"/>
</beans>
